<a href="https://colab.research.google.com/github/Krutika926/Artificial_Intelligence_Lab_SE-A-56/blob/master/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
import pandas as pd
import numpy as np

In [30]:
from google.colab import files
uploaded = files.upload()

Saving Student_data.csv to Student_data (1).csv

In [31]:
df = pd.read_csv('Student_data.csv')

In [32]:
df.head()

,Student_ID,Gender,Age,Major,Attendance_Pct,Study_Hours_Per_Day,Previous_GPA,Sleep_Hours,Social_Hours_Week,Final_CGPA
0,ID00001,Male,20,Engineering,83.9,4.4,2.65,9.1,8,2.78
1,ID00002,Female,24,Business,80.7,4.0,3.58,4.0,4,3.76
2,ID00003,Female,20,Mathematics,91.5,3.9,3.29,6.7,4,3.75
3,ID00004,Female,23,Engineering,73.9,8.8,3.48,4.0,6,3.69
4,ID00005,Male,21,Economics,79.8,2.2,2.66,8.7,6,2.34

In [34]:
df.tail()

,Student_ID,Gender,Age,Major,Attendance_Pct,Study_Hours_Per_Day,Previous_GPA,Sleep_Hours,Social_Hours_Week,Final_CGPA
4995,ID04996,Female,23,Mathematics,83.9,2.4,3.21,7.5,8,3.31
4996,ID04997,Male,20,Economics,82.8,7.2,3.12,7.6,7,3.70
4997,ID04998,Male,19,Engineering,92.2,13.5,3.55,6.3,6,4.00
4998,ID04999,Female,22,Computer Science,100.0,2.4,2.86,7.0,6,2.93
4999,ID05000,Female,20,Mathematics,86.5,7.4,2.49,7.8,4,3.07

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Student_ID           5000 non-null   object
 1   Gender               5000 non-null   object
 2   Age                  5000 non-null   int64
 3   Major                5000 non-null   object
 4   Attendance_Pct       5000 non-null   float64
 5   Study_Hours_Per_Day  5000 non-null   float64
 6   Previous_GPA         5000 non-null   float64
 7   Sleep_Hours          5000 non-null   float64
 8   Social_Hours_Week    5000 non-null   int64
 9   Final_CGPA           5000 non-null   float64
dtypes: float64(5), int64(2), object(3)
memory usage: 390.8+ KB

In [36]:
df.describe()

,Age,Attendance_Pct,Study_Hours_Per_Day,Previous_GPA,Sleep_Hours,Social_Hours_Week,Final_CGPA
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000
mean,20.948600,83.795740,4.517840,3.093824,7.012060,8.006400,3.272224
std,2.017417,12.867904,2.568104,0.476754,1.424377,2.797771,0.507954
min,18.000000,26.200000,0.100000,1.350000,4.000000,0.000000,1.160000
25%,19.000000,75.100000,2.600000,2.760000,6.000000,6.000000,2.920000
50%,21.000000,85.050000,4.000000,3.100000,7.000000,8.000000,3.310000
75%,23.000000,94.800000,6.000000,3.430000,8.000000,10.000000,3.680000
max,24.000000,100.000000,14.000000,4.000000,10.000000,20.000000,4.000000

In [37]:
df['Age'].describe()

count    5000.000000
mean       20.948600
std         2.017417
min        18.000000
25%        19.000000
50%        21.000000
75%        23.000000
max        24.000000
Name: Age, dtype: float64

In [38]:
df['Attendance_Pct'].describe()

count    5000.000000
mean       83.795740
std        12.867904
min        26.200000
25%        75.100000
50%        85.050000
75%        94.800000
max       100.000000
Name: Attendance_Pct, dtype: float64

In [39]:
df['Study_Hours_Per_Day'].describe()

count    5000.000000
mean        4.517840
std         2.568104
min         0.100000
25%         2.600000
50%         4.000000
75%         6.000000
max        14.000000
Name: Study_Hours_Per_Day, dtype: float64